body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    background-color: lightslategray;
        
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 50px;
    background-color: #222;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: crimson;
    font-weight: 400;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    background-color: crimson;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li >a:hover{
    color: #222;
    transition: all .3s ease-in-out;
}

.menghitungluas{
    
    width: 100%;
    background-color: lightslategrey;
}


h1{
    margin-top: 10;
    color: whitesmoke;
    background-color:#156064;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#tinggi{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

#alas{
    margin-left: 20px;
    margin-top: 100px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

img{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

#hitungButtonluas{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: crimson;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

#hitungButtonluas :hover{
    color: #222;
    transition: all .3s ease-in-out;
}

#hasilLuas{
    width: 100%;
    margin-top: 10px;
    color: crimson ;
    background-color: #222;
    font-size: xx-large;
    text-align: center;
}





#s1{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

#s2{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

#s3{
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
}

#hitungButtonkeliling{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: crimson;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

#hitungButtonkeliling :hover{
    color: #222;
    transition: all .3s ease-in-out;
}

#hasilkeliling{
    margin-top: 10px;
    color: crimson ;
    background-color: #222;
    font-size: xx-large;
    text-align: center;
}

#resetButton{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: crimson;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

#resetButton :hover{
    color: #222;
    transition: all .3s ease-in-out;
}

input{
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}